@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Velkommen</h1>
        <p>
            Her kan du registrere, hvis du har symptomer på Coronavirus eller allered er ramt af den. Det er anonymt, da der ikkke bliver registret navne eller andre personlige markører.
        </p>
        <p>
            Dette er kun for at indsamle data på hvilke symptomer, der er hyppigst i dette virus-udbrud.
        </p>
        <a class="navbar-brand" asp-area="" asp-controller="Symptomers" asp-action="Create">Tryk her for at komme til registrerings-siden</a>
    </div>
